<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Iwcf_Orcamento" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Orcamento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Orcamento"
                contract="wcf_Orcamento.Iwcf_Orcamento" name="BasicHttpBinding_Iwcf_Orcamento" />
        </client>
    </system.serviceModel>
</configuration>