<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Iwcf_PesquisaRapida" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_PesquisaRapida.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_PesquisaRapida"
                contract="wcf_PesquisaRapida.Iwcf_PesquisaRapida" name="BasicHttpBinding_Iwcf_PesquisaRapida" />
        </client>
    </system.serviceModel>
</configuration>