<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Iwcf_PesquisaRapida" />
                <binding name="BasicHttpBinding_Iwcf_FillComboBox" />
                <binding name="BasicHttpBinding_Iwcf_HlpPesqPadrao" />
                <binding name="BasicHttpBinding_Iwcf_Cidade" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_PesquisaRapida.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_PesquisaRapida"
                contract="wcf_PesquisaRapida.Iwcf_PesquisaRapida" name="BasicHttpBinding_Iwcf_PesquisaRapida" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_FillComboBox.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_FillComboBox"
                contract="wcf_FillComboBox.Iwcf_FillComboBox" name="BasicHttpBinding_Iwcf_FillComboBox" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_HlpPesqPadrao.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_HlpPesqPadrao"
                contract="wcf_HlpPesqPadrao.Iwcf_HlpPesqPadrao" name="BasicHttpBinding_Iwcf_HlpPesqPadrao" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Cidade.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Cidade"
                contract="wcf_Cidade.Iwcf_Cidade" name="BasicHttpBinding_Iwcf_Cidade" />
        </client>
    </system.serviceModel>
</configuration>