<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <dataConfiguration/>
  <connectionStrings>
    <add name="dbPrincipal" connectionString="Data Source=HLPSRV\SQLSERVER14;Initial Catalog=BD_MAGNIFICUS_ATUAL;User Id=SA;Password=H029060tSql;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServices"/>
        <binding name="BasicHttpBinding_IserviceProduto" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://hlpsistemas.no-ip.org:8081/Servicos/Services.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServices"
        contract="servicoHlp.IServices" name="BasicHttpBinding_IServices" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceProduto.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceProduto"
        contract="produtoService.IserviceProduto" name="BasicHttpBinding_IserviceProduto" />
    </client>
  </system.serviceModel>
</configuration>