<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Iwcf_CamposBaseDados" />
                <binding name="BasicHttpBinding_Iwcf_UnidadeMedida" />
                <binding name="BasicHttpBinding_Iwcf_PesquisaRapida" />
                <binding name="BasicHttpBinding_Iwcf_Empresa" />
                <binding name="BasicHttpBinding_Iwcf_Transportadora" />
                <binding name="BasicHttpBinding_Iwcf_DiaPagamento" />
                <binding name="BasicHttpBinding_Iwcf_DescontoAVista" />
                <binding name="BasicHttpBinding_Iwcf_Calendario" />
                <binding name="BasicHttpBinding_Iwcf_PlanoPagamento" />
                <binding name="BasicHttpBinding_Iwcf_Funcionario" />
                <binding name="BasicHttpBinding_Iwcf_EmpresaParametros" />
                <binding name="BasicHttpBinding_Iwcf_Banco" />
                <binding name="BasicHttpBinding_Iwcf_Moeda" />
                <binding name="BasicHttpBinding_Iwcf_Deposito" />
                <binding name="BasicHttpBinding_Iwcf_CanalDeVenda" />
                <binding name="BasicHttpBinding_Iwcf_Departamento" />
                <binding name="BasicHttpBinding_Iwcf_Conversao" />
                <binding name="BasicHttpBinding_Iwcf_CondicaoPagamento" />
                <binding name="BasicHttpBinding_Iwcf_ContaBancaria" />
                <binding name="BasicHttpBinding_Iwcf_Rota" />
                <binding name="BasicHttpBinding_Iwcf_Cliente" />
                <binding name="BasicHttpBinding_Iwcf_Site" />
                <binding name="BasicHttpBinding_Iwcf_Funcionario_Controle_Horas_Ponto" />
                <binding name="BasicHttpBinding_Iwcf_Contato" />
                <binding name="BasicHttpBinding_Iwcf_Cidade" />
                <binding name="BasicHttpBinding_Iwcf_Juros" />
                <binding name="BasicHttpBinding_Iwcf_Lista_Preco" />
                <binding name="BasicHttpBinding_Iwcf_Multa" />
                <binding name="BasicHttpBinding_Iwcf_TipoProduto" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_UnidadeMedida.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_UnidadeMedida"
                contract="wcf_UnidadeMedida.Iwcf_UnidadeMedida" name="BasicHttpBinding_Iwcf_UnidadeMedida" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_CamposBaseDados.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_CamposBaseDados"
                contract="wcf_CamposBaseDados.Iwcf_CamposBaseDados" name="BasicHttpBinding_Iwcf_CamposBaseDados" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_PesquisaRapida.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_PesquisaRapida"
                contract="wcf_PesquisaRapida.Iwcf_PesquisaRapida" name="BasicHttpBinding_Iwcf_PesquisaRapida" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Empresa.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Empresa"
                contract="wcf_Empresa.Iwcf_Empresa" name="BasicHttpBinding_Iwcf_Empresa" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Transportadora.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Transportadora"
                contract="wcf_Transportadora.Iwcf_Transportadora" name="BasicHttpBinding_Iwcf_Transportadora" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_DiaPagamento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_DiaPagamento"
                contract="wcf_DiaPagamento.Iwcf_DiaPagamento" name="BasicHttpBinding_Iwcf_DiaPagamento" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_DescontoAVista.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_DescontoAVista"
                contract="wcf_DescontoAVista.Iwcf_DescontoAVista" name="BasicHttpBinding_Iwcf_DescontoAVista" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Calendario.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Calendario"
                contract="wcf_Calendarios.Iwcf_Calendario" name="BasicHttpBinding_Iwcf_Calendario" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_PlanoPagamento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_PlanoPagamento"
                contract="wcf_PlanoPagamento.Iwcf_PlanoPagamento" name="BasicHttpBinding_Iwcf_PlanoPagamento" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Funcionario.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Funcionario"
                contract="wcf_Funcionarios.Iwcf_Funcionario" name="BasicHttpBinding_Iwcf_Funcionario" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_EmpresaParametros.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_EmpresaParametros"
                contract="wcf_ParametroEmpresa.Iwcf_EmpresaParametros" name="BasicHttpBinding_Iwcf_EmpresaParametros" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Banco.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Banco"
                contract="wcf_Banco.Iwcf_Banco" name="BasicHttpBinding_Iwcf_Banco" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Moeda.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Moeda"
                contract="wcf_Moeda.Iwcf_Moeda" name="BasicHttpBinding_Iwcf_Moeda" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Deposito.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Deposito"
                contract="wcf_Deposito.Iwcf_Deposito" name="BasicHttpBinding_Iwcf_Deposito" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_CanalDeVenda.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_CanalDeVenda"
                contract="wcf_CanalDeVenda.Iwcf_CanalDeVenda" name="BasicHttpBinding_Iwcf_CanalDeVenda" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Departamento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Departamento"
                contract="wcf_Departamento.Iwcf_Departamento" name="BasicHttpBinding_Iwcf_Departamento" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Conversao.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Conversao"
                contract="wcf_Conversao.Iwcf_Conversao" name="BasicHttpBinding_Iwcf_Conversao" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_CondicaoPagamento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_CondicaoPagamento"
                contract="wcf_CondicaoPagamento.Iwcf_CondicaoPagamento" name="BasicHttpBinding_Iwcf_CondicaoPagamento" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_ContaBancaria.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_ContaBancaria"
                contract="wcf_ContaBancaria.Iwcf_ContaBancaria" name="BasicHttpBinding_Iwcf_ContaBancaria" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Rota.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Rota"
                contract="wcf_Rota.Iwcf_Rota" name="BasicHttpBinding_Iwcf_Rota" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Cliente.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Cliente"
                contract="wcf_Cliente.Iwcf_Cliente" name="BasicHttpBinding_Iwcf_Cliente" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Site.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Site"
                contract="wcf_Site.Iwcf_Site" name="BasicHttpBinding_Iwcf_Site" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Funcionario_Controle_Horas_Ponto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Funcionario_Controle_Horas_Ponto"
                contract="wcf_Funcionario_ControlePonto.Iwcf_Funcionario_Controle_Horas_Ponto"
                name="BasicHttpBinding_Iwcf_Funcionario_Controle_Horas_Ponto" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Contato.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Contato"
                contract="wcf_Contato.Iwcf_Contato" name="BasicHttpBinding_Iwcf_Contato" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Cidade.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Cidade"
                contract="wcf_Cidade.Iwcf_Cidade" name="BasicHttpBinding_Iwcf_Cidade" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Juros.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Juros"
                contract="wcf_Juros.Iwcf_Juros" name="BasicHttpBinding_Iwcf_Juros" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Lista_Preco.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Lista_Preco"
                contract="wcf_Lista_Preco.Iwcf_Lista_Preco" name="BasicHttpBinding_Iwcf_Lista_Preco" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Multa.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Multa"
                contract="wcf_Multa.Iwcf_Multa" name="BasicHttpBinding_Iwcf_Multa" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_TipoProduto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_TipoProduto"
                contract="wcf_TipoProduto.Iwcf_TipoProduto" name="BasicHttpBinding_Iwcf_TipoProduto" />
        </client>
    </system.serviceModel>
</configuration>