<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Iwcf_CamposBaseDados" />
                <binding name="BasicHttpBinding_Iwcf_UnidadeMedida" />
                <binding name="BasicHttpBinding_Iwcf_PesquisaRapida" />
                <binding name="BasicHttpBinding_Iwcf_Empresa" />
                <binding name="BasicHttpBinding_Iwcf_Transportadora" />
                <binding name="BasicHttpBinding_Iwcf_DiaPagamento" />
                <binding name="BasicHttpBinding_Iwcf_DescontoAVista" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_UnidadeMedida.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_UnidadeMedida"
                contract="wcf_UnidadeMedida.Iwcf_UnidadeMedida" name="BasicHttpBinding_Iwcf_UnidadeMedida" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_CamposBaseDados.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_CamposBaseDados"
                contract="wcf_CamposBaseDados.Iwcf_CamposBaseDados" name="BasicHttpBinding_Iwcf_CamposBaseDados" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_PesquisaRapida.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_PesquisaRapida"
                contract="wcf_PesquisaRapida.Iwcf_PesquisaRapida" name="BasicHttpBinding_Iwcf_PesquisaRapida" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Empresa.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Empresa"
                contract="wcf_Empresa.Iwcf_Empresa" name="BasicHttpBinding_Iwcf_Empresa" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Transportadora.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Transportadora"
                contract="wcf_Transportadora.Iwcf_Transportadora" name="BasicHttpBinding_Iwcf_Transportadora" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_DiaPagamento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_DiaPagamento"
                contract="wcf_DiaPagamento.Iwcf_DiaPagamento" name="BasicHttpBinding_Iwcf_DiaPagamento" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_DescontoAVista.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_DescontoAVista"
                contract="wcf_DescontoAVista.Iwcf_DescontoAVista" name="BasicHttpBinding_Iwcf_DescontoAVista" />
        </client>
    </system.serviceModel>
</configuration>