<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Iwcf_CamposBaseDados" />
                <binding name="BasicHttpBinding_Iwcf_UnidadeMedida" />
                <binding name="BasicHttpBinding_Iwcf_PesquisaRapida" />
                <binding name="BasicHttpBinding_Iwcf_Empresa" />
                <binding name="BasicHttpBinding_Iwcf_DiaPagamento" />
                <binding name="BasicHttpBinding_Iwcf_DescontoAVista" />
                <binding name="BasicHttpBinding_Iwcf_PlanoPagamento" />
                <binding name="BasicHttpBinding_Iwcf_EmpresaParametros" />
                <binding name="BasicHttpBinding_Iwcf_Banco" />
                <binding name="BasicHttpBinding_Iwcf_Deposito" />
                <binding name="BasicHttpBinding_Iwcf_CanalDeVenda" />
                <binding name="BasicHttpBinding_Iwcf_Departamento" />
                <binding name="BasicHttpBinding_Iwcf_Conversao" />
                <binding name="BasicHttpBinding_Iwcf_CondicaoPagamento" />
                <binding name="BasicHttpBinding_Iwcf_ContaBancaria" />
                <binding name="BasicHttpBinding_Iwcf_Rota" />
                <binding name="BasicHttpBinding_Iwcf_Cliente" />
                <binding name="BasicHttpBinding_Iwcf_Site" />
                <binding name="BasicHttpBinding_Iwcf_Juros" />
                <binding name="BasicHttpBinding_Iwcf_Multa" />
                <binding name="BasicHttpBinding_Iwcf_TipoProduto" />
                <binding name="BasicHttpBinding_Iwcf_Decisao" />
                <binding name="BasicHttpBinding_Iwcf_Fidelidade" />
                <binding name="BasicHttpBinding_Iwcf_Personalidade" />
                <binding name="BasicHttpBinding_Iwcf_Agencia" />
                <binding name="BasicHttpBinding_Iwcf_CargaTribMediaStIcms" />
                <binding name="BasicHttpBinding_Iwcf_Cfop" />
                <binding name="BasicHttpBinding_Iwcf_ClassificacaoFiscal" />
                <binding name="BasicHttpBinding_Iwcf_CodigoIcms" />
                <binding name="BasicHttpBinding_Iwcf_SituacaoTributariaPis" />
                <binding name="BasicHttpBinding_Iwcf_StCofins" />
                <binding name="BasicHttpBinding_Iwcf_StIcms" />
                <binding name="BasicHttpBinding_Iwcf_StIpi" />
                <binding name="BasicHttpBinding_Iwcf_TipoDocumento" />
                <binding name="BasicHttpBinding_Iwcf_TipoOperacao" />
                <binding name="BasicHttpBinding_Iwcf_Fabricante" />
                <binding name="BasicHttpBinding_Iwcf_RamoAtividade" />
                <binding name="BasicHttpBinding_Iwcf_TipoServico" />
                <binding name="BasicHttpBinding_Iwcf_Setor" />
                <binding name="BasicHttpBinding_Iwcf_Cargo" />
                <binding name="BasicHttpBinding_Iwcf_CondicaoEntrega" />
                <binding name="BasicHttpBinding_Iwcf_Uf" />
                <binding name="BasicHttpBinding_Iwcf_ModoEntrega" />
                <binding name="BasicHttpBinding_Iwcf_Acesso" />
                <binding name="BasicHttpBinding_Iwcf_Funcionario" />
                <binding name="BasicHttpBinding_Iwcf_Transportadora" />
                <binding name="BasicHttpBinding_Iwcf_Login" />
                <binding name="BasicHttpBinding_Iwcf_TipoDocumentoOperacaoValida" />
                <binding name="BasicHttpBinding_Iwcf_Calendario" />
                <binding name="BasicHttpBinding_Iwcf_Moeda" />
                <binding name="BasicHttpBinding_Iwcf_Localizacao" />
                <binding name="BasicHttpBinding_Iwcf_FamiliaProduto" />
                <binding name="BasicHttpBinding_Iwcf_Contato" />
                <binding name="BasicHttpBinding_Iwcf_Funcionario_Controle_Horas_Ponto" />
                <binding name="BasicHttpBinding_Iwcf_Cidade" />
                <binding name="BasicHttpBinding_Iwcf_Lista_Preco" />
                <binding name="BasicHttpBinding_Iwcf_Produto" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_UnidadeMedida.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_UnidadeMedida"
                contract="wcf_UnidadeMedida.Iwcf_UnidadeMedida" name="BasicHttpBinding_Iwcf_UnidadeMedida" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_CamposBaseDados.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_CamposBaseDados"
                contract="wcf_CamposBaseDados.Iwcf_CamposBaseDados" name="BasicHttpBinding_Iwcf_CamposBaseDados" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_PesquisaRapida.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_PesquisaRapida"
                contract="wcf_PesquisaRapida.Iwcf_PesquisaRapida" name="BasicHttpBinding_Iwcf_PesquisaRapida" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Empresa.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Empresa"
                contract="wcf_Empresa.Iwcf_Empresa" name="BasicHttpBinding_Iwcf_Empresa" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_DiaPagamento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_DiaPagamento"
                contract="wcf_DiaPagamento.Iwcf_DiaPagamento" name="BasicHttpBinding_Iwcf_DiaPagamento" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_DescontoAVista.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_DescontoAVista"
                contract="wcf_DescontoAVista.Iwcf_DescontoAVista" name="BasicHttpBinding_Iwcf_DescontoAVista" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_PlanoPagamento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_PlanoPagamento"
                contract="wcf_PlanoPagamento.Iwcf_PlanoPagamento" name="BasicHttpBinding_Iwcf_PlanoPagamento" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_EmpresaParametros.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_EmpresaParametros"
                contract="wcf_ParametroEmpresa.Iwcf_EmpresaParametros" name="BasicHttpBinding_Iwcf_EmpresaParametros" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Banco.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Banco"
                contract="wcf_Banco.Iwcf_Banco" name="BasicHttpBinding_Iwcf_Banco" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Deposito.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Deposito"
                contract="wcf_Deposito.Iwcf_Deposito" name="BasicHttpBinding_Iwcf_Deposito" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_CanalDeVenda.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_CanalDeVenda"
                contract="wcf_CanalDeVenda.Iwcf_CanalDeVenda" name="BasicHttpBinding_Iwcf_CanalDeVenda" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Departamento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Departamento"
                contract="wcf_Departamento.Iwcf_Departamento" name="BasicHttpBinding_Iwcf_Departamento" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Conversao.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Conversao"
                contract="wcf_Conversao.Iwcf_Conversao" name="BasicHttpBinding_Iwcf_Conversao" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_CondicaoPagamento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_CondicaoPagamento"
                contract="wcf_CondicaoPagamento.Iwcf_CondicaoPagamento" name="BasicHttpBinding_Iwcf_CondicaoPagamento" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_ContaBancaria.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_ContaBancaria"
                contract="wcf_ContaBancaria.Iwcf_ContaBancaria" name="BasicHttpBinding_Iwcf_ContaBancaria" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Rota.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Rota"
                contract="wcf_Rota.Iwcf_Rota" name="BasicHttpBinding_Iwcf_Rota" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Cliente.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Cliente"
                contract="wcf_Cliente.Iwcf_Cliente" name="BasicHttpBinding_Iwcf_Cliente" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Site.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Site"
                contract="wcf_Site.Iwcf_Site" name="BasicHttpBinding_Iwcf_Site" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Juros.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Juros"
                contract="wcf_Juros.Iwcf_Juros" name="BasicHttpBinding_Iwcf_Juros" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Multa.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Multa"
                contract="wcf_Multa.Iwcf_Multa" name="BasicHttpBinding_Iwcf_Multa" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_TipoProduto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_TipoProduto"
                contract="wcf_TipoProduto.Iwcf_TipoProduto" name="BasicHttpBinding_Iwcf_TipoProduto" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Decisao.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Decisao"
                contract="wcf_Decisao.Iwcf_Decisao" name="BasicHttpBinding_Iwcf_Decisao" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Fidelidade.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Fidelidade"
                contract="wcf_Fidelidade.Iwcf_Fidelidade" name="BasicHttpBinding_Iwcf_Fidelidade" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Personalidade.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Personalidade"
                contract="wcf_Personalidade.Iwcf_Personalidade" name="BasicHttpBinding_Iwcf_Personalidade" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Agencia.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Agencia"
                contract="wcf_Agencia.Iwcf_Agencia" name="BasicHttpBinding_Iwcf_Agencia" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_CargaTribMediaStIcms.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_CargaTribMediaStIcms"
                contract="wcf_CargaTribMediaStIcms.Iwcf_CargaTribMediaStIcms"
                name="BasicHttpBinding_Iwcf_CargaTribMediaStIcms" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Cfop.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Cfop"
                contract="wcf_Cfop.Iwcf_Cfop" name="BasicHttpBinding_Iwcf_Cfop" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_ClassificacaoFiscal.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_ClassificacaoFiscal"
                contract="wcf_ClassificacaoFiscal.Iwcf_ClassificacaoFiscal"
                name="BasicHttpBinding_Iwcf_ClassificacaoFiscal" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_CodigoIcms.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_CodigoIcms"
                contract="wcf_CodigoIcms.Iwcf_CodigoIcms" name="BasicHttpBinding_Iwcf_CodigoIcms" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_SituacaoTributariaPis.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_SituacaoTributariaPis"
                contract="wcf_SituacaoTributariaPis.Iwcf_SituacaoTributariaPis"
                name="BasicHttpBinding_Iwcf_SituacaoTributariaPis" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_StCofins.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_StCofins"
                contract="wcf_StCofins.Iwcf_StCofins" name="BasicHttpBinding_Iwcf_StCofins" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_StIcms.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_StIcms"
                contract="wcf_StIcms.Iwcf_StIcms" name="BasicHttpBinding_Iwcf_StIcms" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_StIpi.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_StIpi"
                contract="wcf_StIpi.Iwcf_StIpi" name="BasicHttpBinding_Iwcf_StIpi" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_TipoDocumento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_TipoDocumento"
                contract="wcf_TipoDocumento.Iwcf_TipoDocumento" name="BasicHttpBinding_Iwcf_TipoDocumento" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_TipoOperacao.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_TipoOperacao"
                contract="wcf_TipoOperacao.Iwcf_TipoOperacao" name="BasicHttpBinding_Iwcf_TipoOperacao" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Fabricante.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Fabricante"
                contract="wcf_Fabricante.Iwcf_Fabricante" name="BasicHttpBinding_Iwcf_Fabricante" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_RamoAtividade.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_RamoAtividade"
                contract="wcf_RamoAtividade.Iwcf_RamoAtividade" name="BasicHttpBinding_Iwcf_RamoAtividade" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_TipoServico.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_TipoServico"
                contract="wcf_TipoServico.Iwcf_TipoServico" name="BasicHttpBinding_Iwcf_TipoServico" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Setor.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Setor"
                contract="wcf_Setor.Iwcf_Setor" name="BasicHttpBinding_Iwcf_Setor" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Cargo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Cargo"
                contract="wcf_Cargo.Iwcf_Cargo" name="BasicHttpBinding_Iwcf_Cargo" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_CondicaoEntrega.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_CondicaoEntrega"
                contract="wcf_CondicaoEntrega.Iwcf_CondicaoEntrega" name="BasicHttpBinding_Iwcf_CondicaoEntrega" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Uf.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Uf"
                contract="wcf_Uf.Iwcf_Uf" name="BasicHttpBinding_Iwcf_Uf" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_ModoEntrega.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_ModoEntrega"
                contract="wcf_ModoEntrega.Iwcf_ModoEntrega" name="BasicHttpBinding_Iwcf_ModoEntrega" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Acesso.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Acesso"
                contract="wcf_Acesso.Iwcf_Acesso" name="BasicHttpBinding_Iwcf_Acesso" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Funcionario.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Funcionario"
                contract="wcf_Funcionario.Iwcf_Funcionario" name="BasicHttpBinding_Iwcf_Funcionario" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Transportadora.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Transportadora"
                contract="wcf_Transportadora.Iwcf_Transportadora" name="BasicHttpBinding_Iwcf_Transportadora" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Login.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Login"
                contract="wcf_Login.Iwcf_Login" name="BasicHttpBinding_Iwcf_Login" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_TipoDocumentoOperacaoValida.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_TipoDocumentoOperacaoValida"
                contract="wcf_TipoDocumentoOperacaoValida.Iwcf_TipoDocumentoOperacaoValida"
                name="BasicHttpBinding_Iwcf_TipoDocumentoOperacaoValida" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Calendario.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Calendario"
                contract="wcf_Calendario.Iwcf_Calendario" name="BasicHttpBinding_Iwcf_Calendario" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Moeda.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Moeda"
                contract="wcf_Moeda.Iwcf_Moeda" name="BasicHttpBinding_Iwcf_Moeda" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Localizacao.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Localizacao"
                contract="wcf_Localizacao.Iwcf_Localizacao" name="BasicHttpBinding_Iwcf_Localizacao" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_FamiliaProduto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_FamiliaProduto"
                contract="wcf_FamiliaProduto.Iwcf_FamiliaProduto" name="BasicHttpBinding_Iwcf_FamiliaProduto" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Contato.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Contato"
                contract="wcf_Contato.Iwcf_Contato" name="BasicHttpBinding_Iwcf_Contato" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Funcionario_Controle_Horas_Ponto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Funcionario_Controle_Horas_Ponto"
                contract="wcf_Funcionario_ControlePonto.Iwcf_Funcionario_Controle_Horas_Ponto"
                name="BasicHttpBinding_Iwcf_Funcionario_Controle_Horas_Ponto" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Cidade.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Cidade"
                contract="wcf_Cidade.Iwcf_Cidade" name="BasicHttpBinding_Iwcf_Cidade" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Lista_Preco.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Lista_Preco"
                contract="wcf_Lista_Preco.Iwcf_Lista_Preco" name="BasicHttpBinding_Iwcf_Lista_Preco" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Produto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Produto"
                contract="wcf_Produto.Iwcf_Produto" name="BasicHttpBinding_Iwcf_Produto" />
        </client>
    </system.serviceModel>
</configuration>