<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IservicePesquisaRapida" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.9.33:8081/wcf/servicePesquisaRapida.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IservicePesquisaRapida"
                contract="PesquisaRapidaService.IservicePesquisaRapida" name="BasicHttpBinding_IservicePesquisaRapida" />
        </client>
    </system.serviceModel>
</configuration>