<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="dbPrincipal" connectionString="Data Source=HLPSRV\SQLSERVER14;Initial Catalog=BD_MAGNIFICUS_ATUAL;User Id=SA;Password=H029060tSql;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IdbFunctionsToComponents" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf_comps/dbFunctionsToComponents.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IdbFunctionsToComponents"
          contract="wcfDbFunctions.IdbFunctionsToComponents" name="BasicHttpBinding_IdbFunctionsToComponents" />
    </client>
  </system.serviceModel>
</configuration>