<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IserviceHlpPesquisaPadrao" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.9.33:8080/wcf/serviceHlpPesquisaPadrao.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceHlpPesquisaPadrao"
                contract="HlpPesquisaPadraoService.IserviceHlpPesquisaPadrao"
                name="BasicHttpBinding_IserviceHlpPesquisaPadrao" />
        </client>
    </system.serviceModel>
</configuration>