<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IserviceTipoProduto" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.9.33:8080/wcf/serviceTipoProduto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceTipoProduto"
                contract="TipoProdutoService.IserviceTipoProduto" name="BasicHttpBinding_IserviceTipoProduto" />
        </client>
    </system.serviceModel>
</configuration>