<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Iwcf_Funcionario" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf_dev/wcf_Funcionario.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Funcionario"
                contract="wcf_Funcionario.Iwcf_Funcionario" name="BasicHttpBinding_Iwcf_Funcionario" />
        </client>
    </system.serviceModel>
</configuration>