<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="dbPrincipal" connectionString="Data Source=HLPSRV;Initial Catalog=PROD_MAGNIFICUS;User Id=sa;Password=H029060tSql;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IcamposBaseDadosService" />
        <binding name="BasicHttpBinding_IserviceCliente" />
        <binding name="BasicHttpBinding_IserviceContato" />
        <binding name="BasicHttpBinding_IserviceCidade" />
        <binding name="BasicHttpBinding_IserviceUf" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.9.33:8080/wcf/camposBaseDadosService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IcamposBaseDadosService"
          contract="camposNotNullService.IcamposBaseDadosService" name="BasicHttpBinding_IcamposBaseDadosService" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceCliente.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCliente"
                contract="clienteService.IserviceCliente" name="BasicHttpBinding_IserviceCliente" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceContato.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceContato"
                contract="contato_Service.IserviceContato" name="BasicHttpBinding_IserviceContato" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceCidade.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCidade"
                contract="cidadeService.IserviceCidade" name="BasicHttpBinding_IserviceCidade" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceUf.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceUf"
                contract="ufService.IserviceUf" name="BasicHttpBinding_IserviceUf" />
    </client>
      <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
