<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IserviceUf" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.9.33:8080/wcf/serviceUf.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceUf"
                contract="ufService.IserviceUf" name="BasicHttpBinding_IserviceUf" />
        </client>
    </system.serviceModel>
</configuration>