<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IserviceFuncionario" />
        <binding name="BasicHttpBinding_IserviceSetor" />
        <binding name="BasicHttpBinding_IserviceFuncionario_Acesso" />
        <binding name="BasicHttpBinding_IserviceFillComboBox" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.9.33:8081/wcf/serviceFuncionario.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceFuncionario"
        contract="funcionarService.IserviceFuncionario" name="BasicHttpBinding_IserviceFuncionario" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceSetor.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceSetor"
        contract="setorService.IserviceSetor" name="BasicHttpBinding_IserviceSetor" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceFuncionario_Acesso.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceFuncionario_Acesso"
        contract="Funcionario_AcessoService.IserviceFuncionario_Acesso"
        name="BasicHttpBinding_IserviceFuncionario_Acesso" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceFillComboBox.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceFillComboBox"
        contract="FillComboBoxService.IserviceFillComboBox" name="BasicHttpBinding_IserviceFillComboBox" />
    </client>
  </system.serviceModel>
</configuration>