<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IserviceUf" />
                <binding name="BasicHttpBinding_IserviceUnidadeMedida" />
                <binding name="BasicHttpBinding_IserviceCargo" />
                <binding name="BasicHttpBinding_IserviceEmpresa" />
                <binding name="BasicHttpBinding_IserviceCidade" />
                <binding name="BasicHttpBinding_IserviceDecisao" />
                <binding name="BasicHttpBinding_IserviceDepartamento" />                
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.9.33:8080/wcf/serviceUf.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceUf"
                contract="ufService.IserviceUf" name="BasicHttpBinding_IserviceUf" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceUnidadeMedida.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceUnidadeMedida"
                contract="unidadeMedidaService.IserviceUnidadeMedida" name="BasicHttpBinding_IserviceUnidadeMedida" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceCargo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCargo"
                contract="cargoService.IserviceCargo" name="BasicHttpBinding_IserviceCargo" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceEmpresa.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceEmpresa"
                contract="empresaService.IserviceEmpresa" name="BasicHttpBinding_IserviceEmpresa" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceCidade.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCidade"
                contract="cidadeService.IserviceCidade" name="BasicHttpBinding_IserviceCidade" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceDecisao.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceDecisao"
                contract="decisaoService.IserviceDecisao" name="BasicHttpBinding_IserviceDecisao" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceDepartamento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceDepartamento"
                contract="departamentoService.IserviceDepartamento" name="BasicHttpBinding_IserviceDepartamento" />          
        </client>
    </system.serviceModel>
</configuration>