<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceOrcamento" />
              <binding name="BasicHttpBinding_IserviceCliente"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.9.33:8080/wcf/ServiceOrcamento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOrcamento"
                contract="orcamentoService.IServiceOrcamento" name="BasicHttpBinding_IServiceOrcamento" />
          <endpoint address="http://192.168.9.33:8080/wcf/serviceCliente.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCliente"
        contract="clienteService.IserviceCliente" name="BasicHttpBinding_IserviceCliente" />
        </client>
    </system.serviceModel>
</configuration>