<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IserviceSales_Orcamento"  maxReceivedMessageSize="999999"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.9.33:8080/wcf/serviceSales_Orcamento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceSales_Orcamento"
                contract="sales_OrcamentoService.IserviceSales_Orcamento"
                name="BasicHttpBinding_IserviceSales_Orcamento" />
        </client>
    </system.serviceModel>
</configuration>