<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Iwcf_OperacoesDataBase" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_OperacoesDataBase.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_OperacoesDataBase"
                contract="wcf_OperacoesDataBase.Iwcf_OperacoesDataBase" name="BasicHttpBinding_Iwcf_OperacoesDataBase" />
        </client>
    </system.serviceModel>
</configuration>