<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Iwcf_OperacoesDataBase" />
                <binding name="BasicHttpBinding_Iwcf_ConnectionConfig" />
                <binding name="BasicHttpBinding_Iwcf_SelectConnectionConfig" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_OperacoesDataBase.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_OperacoesDataBase"
                contract="wcf_OperacoesDataBase.Iwcf_OperacoesDataBase" name="BasicHttpBinding_Iwcf_OperacoesDataBase" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_ConnectionConfig.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_ConnectionConfig"
                contract="wcf_ConnectionConfig.Iwcf_ConnectionConfig" name="BasicHttpBinding_Iwcf_ConnectionConfig" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_SelectConnectionConfig.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_SelectConnectionConfig"
                contract="wcf_SelectConnectionConfig.Iwcf_SelectConnectionConfig"
                name="BasicHttpBinding_Iwcf_SelectConnectionConfig" />
        </client>
    </system.serviceModel>
</configuration>