<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IserviceCliente" />
                <binding name="BasicHttpBinding_IserviceContato" />
                <binding name="BasicHttpBinding_IserviceCidade" />
                <binding name="BasicHttpBinding_IserviceUf" />
                <binding name="BasicHttpBinding_IserviceCanal_Venda" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.9.33:8080/wcf/serviceCliente.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCliente"
                contract="clienteService.IserviceCliente" name="BasicHttpBinding_IserviceCliente" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceContato.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceContato"
                contract="contato_Service.IserviceContato" name="BasicHttpBinding_IserviceContato" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceCidade.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCidade"
                contract="cidadeService.IserviceCidade" name="BasicHttpBinding_IserviceCidade" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceUf.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceUf"
                contract="ufService.IserviceUf" name="BasicHttpBinding_IserviceUf" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceCanal_Venda.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCanal_Venda"
                contract="Canal_VendaService.IserviceCanal_Venda" name="BasicHttpBinding_IserviceCanal_Venda" />
        </client>
    </system.serviceModel>
</configuration>