<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IserviceContato" />
                <binding name="BasicHttpBinding_IserviceCidade" />
                <binding name="BasicHttpBinding_IserviceUf" />
                <binding name="BasicHttpBinding_IserviceCanal_Venda" />
                <binding name="BasicHttpBinding_IserviceTipo_documento_Operacao_Valida" />
                <binding name="BasicHttpBinding_IserviceProduto" />
                <binding name="BasicHttpBinding_IserviceFamiliaProduto" />
                <binding name="BasicHttpBinding_IserviceLista_Preco" />
                <binding name="BasicHttpBinding_IserviceCliente" maxReceivedMessageSize="4194304" />
                <binding name="BasicHttpBinding_IserviceFuncionario" />
                <binding name="BasicHttpBinding_IserviceCondicao_Pagamento" />
                <binding name="BasicHttpBinding_IserviceTipo_Operacao" />
                <binding name="BasicHttpBinding_IserviceEmpresa" />
                <binding name="BasicHttpBinding_IserviceClassificacaoFiscal" />
                <binding name="BasicHttpBinding_IserviceCodigoIcms" />
                <binding name="BasicHttpBinding_IserviceLogin" />
                <binding name="BasicHttpBinding_IserviceCarga_trib_media_st_icms" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.9.33:8080/wcf/serviceContato.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceContato"
                contract="contato_Service.IserviceContato" name="BasicHttpBinding_IserviceContato" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceCidade.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCidade"
                contract="cidadeService.IserviceCidade" name="BasicHttpBinding_IserviceCidade" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceUf.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceUf"
                contract="ufService.IserviceUf" name="BasicHttpBinding_IserviceUf" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceCanal_Venda.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCanal_Venda"
                contract="Canal_VendaService.IserviceCanal_Venda" name="BasicHttpBinding_IserviceCanal_Venda" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceTipo_documento_Operacao_Valida.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceTipo_documento_Operacao_Valida"
                contract="Tipo_Documento_Oper_ValidaService.IserviceTipo_documento_Operacao_Valida"
                name="BasicHttpBinding_IserviceTipo_documento_Operacao_Valida" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceProduto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceProduto"
                contract="produtoService.IserviceProduto" name="BasicHttpBinding_IserviceProduto" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceFamiliaProduto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceFamiliaProduto"
                contract="Familia_ProdutoService.IserviceFamiliaProduto" name="BasicHttpBinding_IserviceFamiliaProduto" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceLista_Preco.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceLista_Preco"
                contract="Lista_PrecoService.IserviceLista_Preco" name="BasicHttpBinding_IserviceLista_Preco" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceCliente.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCliente"
                contract="clienteService.IserviceCliente" name="BasicHttpBinding_IserviceCliente" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceFuncionario.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceFuncionario"
                contract="funcionarioService.IserviceFuncionario" name="BasicHttpBinding_IserviceFuncionario" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceCondicao_Pagamento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCondicao_Pagamento"
                contract="Condicao_PagamentoService.IserviceCondicao_Pagamento"
                name="BasicHttpBinding_IserviceCondicao_Pagamento" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceTipo_Operacao.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceTipo_Operacao"
                contract="Tipo_OperacaoService.IserviceTipo_Operacao" name="BasicHttpBinding_IserviceTipo_Operacao" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceEmpresa.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceEmpresa"
                contract="empresaService.IserviceEmpresa" name="BasicHttpBinding_IserviceEmpresa" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceClassificacaoFiscal.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceClassificacaoFiscal"
                contract="ClassificacaoFiscalServico.IserviceClassificacaoFiscal"
                name="BasicHttpBinding_IserviceClassificacaoFiscal" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceCodigoIcms.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCodigoIcms"
                contract="CodigoIcmsService.IserviceCodigoIcms" name="BasicHttpBinding_IserviceCodigoIcms" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceLogin.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceLogin"
                contract="loginService.IserviceLogin" name="BasicHttpBinding_IserviceLogin" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceCarga_trib_media_st_icms.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCarga_trib_media_st_icms"
                contract="Carga_trib_media_st_icmsServico.IserviceCarga_trib_media_st_icms"
                name="BasicHttpBinding_IserviceCarga_trib_media_st_icms" />
        </client>
    </system.serviceModel>
</configuration>