<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IserviceCliente" />
                <binding name="BasicHttpBinding_IserviceContato" />
                <binding name="BasicHttpBinding_IserviceCidade" />
                <binding name="BasicHttpBinding_IserviceUf" />
                <binding name="BasicHttpBinding_IserviceCanal_Venda" />
                <binding name="BasicHttpBinding_IserviceTipo_documento_Operacao_Valida" />
                <binding name="BasicHttpBinding_IserviceProduto" />
                <binding name="BasicHttpBinding_IserviceFamiliaProduto" />
                <binding name="BasicHttpBinding_IserviceLista_Preco" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.9.33:8080/wcf/serviceCliente.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCliente"
                contract="clienteService.IserviceCliente" name="BasicHttpBinding_IserviceCliente" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceContato.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceContato"
                contract="contato_Service.IserviceContato" name="BasicHttpBinding_IserviceContato" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceCidade.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCidade"
                contract="cidadeService.IserviceCidade" name="BasicHttpBinding_IserviceCidade" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceUf.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceUf"
                contract="ufService.IserviceUf" name="BasicHttpBinding_IserviceUf" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceCanal_Venda.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCanal_Venda"
                contract="Canal_VendaService.IserviceCanal_Venda" name="BasicHttpBinding_IserviceCanal_Venda" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceTipo_documento_Operacao_Valida.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceTipo_documento_Operacao_Valida"
                contract="Tipo_Documento_Oper_ValidaService.IserviceTipo_documento_Operacao_Valida"
                name="BasicHttpBinding_IserviceTipo_documento_Operacao_Valida" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceProduto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceProduto"
                contract="produtoService.IserviceProduto" name="BasicHttpBinding_IserviceProduto" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceFamiliaProduto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceFamiliaProduto"
                contract="Familia_ProdutoService.IserviceFamiliaProduto" name="BasicHttpBinding_IserviceFamiliaProduto" />
            <endpoint address="http://192.168.9.33:8080/wcf/serviceLista_Preco.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceLista_Preco"
                contract="Lista_PrecoService.IserviceLista_Preco" name="BasicHttpBinding_IserviceLista_Preco" />
        </client>
    </system.serviceModel>
</configuration>