<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IserviceUf" />
        <binding name="BasicHttpBinding_IserviceUnidadeMedida" />
        <binding name="BasicHttpBinding_IcamposBaseDadosService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.9.33:8080/wcf/serviceUf.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceUf"
          contract="ufService.IserviceUf" name="BasicHttpBinding_IserviceUf" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceUnidadeMedida.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceUnidadeMedida"
                contract="unidadeMedidaService.IserviceUnidadeMedida" name="BasicHttpBinding_IserviceUnidadeMedida" />
      <endpoint address="http://192.168.9.33:8080/wcf/camposBaseDadosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IcamposBaseDadosService"
                contract="camposBaseDadosService.IcamposBaseDadosService"
                name="BasicHttpBinding_IcamposBaseDadosService" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="dbPrincipal" connectionString="Data Source=HLPSRV;Initial Catalog=PROD_MAGNIFICUS;User Id=sa;Password=H029060tSql;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>