<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IserviceTransportador" />
        <binding name="BasicHttpBinding_IserviceCalendario" />
        <binding name="BasicHttpBinding_IserviceTipo_documento" />
        <binding name="BasicHttpBinding_IserviceSituacao_tributaria_pis" />
        <binding name="BasicHttpBinding_IservicePlanoPagamento" maxReceivedMessageSize="4194304" />
        <binding name="BasicHttpBinding_IserviceCodigoIcms" />
        <binding name="BasicHttpBinding_IserviceClassificacaoFiscal" />
        <binding name="BasicHttpBinding_IserviceCfop" />
        <binding name="BasicHttpBinding_IserviceCarga_trib_media_st_icms" />
        <binding name="BasicHttpBinding_IserviceDiaPagamento" />
        <binding name="BasicHttpBinding_IserviceAgencia" />
        <binding name="BasicHttpBinding_IserviceRota" />
        <binding name="BasicHttpBinding_IserviceContato" />
        <binding name="BasicHttpBinding_IserviceFamiliaProduto" />
        <binding name="BasicHttpBinding_IserviceFillComboBox" />
        <binding name="BasicHttpBinding_IserviceUf" />
        <binding name="BasicHttpBinding_IserviceUnidadeMedida" />
        <binding name="BasicHttpBinding_IserviceEmpresa" />
        <binding name="BasicHttpBinding_IserviceCidade" />
        <binding name="BasicHttpBinding_IserviceCargo" />
        <binding name="BasicHttpBinding_IserviceDepartamento" />
        <binding name="BasicHttpBinding_IservicePesquisaRapida" />
        <binding name="BasicHttpBinding_IservicePesquisaPadrao" />
        <binding name="BasicHttpBinding_IcamposBaseDadosService" />
        <binding name="BasicHttpBinding_IserviceTipo_produto" />
        <binding name="BasicHttpBinding_IserviceSetor1" />
        <binding name="BasicHttpBinding_IserviceTipoServico" />
        <binding name="BasicHttpBinding_IserviceCondicao_Entrega" />
        <binding name="BasicHttpBinding_IserviceCondicao_Pagamento" />
        <binding name="BasicHttpBinding_IserviceDeposito" />
        <binding name="BasicHttpBinding_IserviceFabricante" />
        <binding name="BasicHttpBinding_IserviceMoeda" />
        <binding name="BasicHttpBinding_IserviceRamoAtividade" />
        <binding name="BasicHttpBinding_IserviceFuncionario1" />
        <binding name="BasicHttpBinding_IserviceFuncionario_Acesso" />
        <binding name="BasicHttpBinding_IserviceModoEntrega" />
        <binding name="BasicHttpBinding_IserviceDecisao" />
        <binding name="BasicHttpBinding_IserviceFidelidade" />
        <binding name="BasicHttpBinding_IservicePersonalidade" />
        <binding name="BasicHttpBinding_IserviceDescontosAvista" />
        <binding name="BasicHttpBinding_IserviceSite" />
        <binding name="BasicHttpBinding_IserviceAcesso" />
        <binding name="BasicHttpBinding_IserviceConversao" />
        <binding name="BasicHttpBinding_IserviceEmpresaParametros" />
        <binding name="BasicHttpBinding_IserviceCanal_Venda" />
        <binding name="BasicHttpBinding_IserviceJuros" />
        <binding name="BasicHttpBinding_IserviceLista_Preco" />
        <binding name="BasicHttpBinding_IserviceProduto" />
        <binding name="BasicHttpBinding_IserviceEmpresaParametros1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.9.33:8080/wcf/serviceTransportador.svc"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceTransportador"
      contract="transportadorService.IserviceTransportador" name="BasicHttpBinding_IserviceTransportador" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceCalendario.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCalendario"
        contract="CalendarioService.IserviceCalendario" name="BasicHttpBinding_IserviceCalendario" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceTipo_documento.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceTipo_documento"
        contract="Tipo_documentoService.IserviceTipo_documento" name="BasicHttpBinding_IserviceTipo_documento" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceSituacao_tributaria_pis.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceSituacao_tributaria_pis"
        contract="Situacao_tributaria_pisService.IserviceSituacao_tributaria_pis"
        name="BasicHttpBinding_IserviceSituacao_tributaria_pis" />
      <endpoint address="http://192.168.9.33:8080/wcf/servicePlanoPagamento.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IservicePlanoPagamento"
        contract="Plano_PagamentoService.IservicePlanoPagamento" name="BasicHttpBinding_IservicePlanoPagamento" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceCodigoIcms.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCodigoIcms"
        contract="CodigoIcmsService.IserviceCodigoIcms" name="BasicHttpBinding_IserviceCodigoIcms" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceClassificacaoFiscal.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceClassificacaoFiscal"
        contract="ClassificacaoFiscalServico.IserviceClassificacaoFiscal"
        name="BasicHttpBinding_IserviceClassificacaoFiscal" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceCfop.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCfop"
        contract="CfopServico.IserviceCfop" name="BasicHttpBinding_IserviceCfop" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceCarga_trib_media_st_icms.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCarga_trib_media_st_icms"
        contract="Carga_trib_media_st_icmsServico.IserviceCarga_trib_media_st_icms"
        name="BasicHttpBinding_IserviceCarga_trib_media_st_icms" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceDiaPagamento.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceDiaPagamento"
        contract="Dia_PagamentoService.IserviceDiaPagamento" name="BasicHttpBinding_IserviceDiaPagamento" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceAcesso.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceAcesso"
        contract="AcessoFuncionarioService.IserviceAcesso" name="BasicHttpBinding_IserviceAcesso" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceAgencia.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceAgencia"
        contract="agenciaService.IserviceAgencia" name="BasicHttpBinding_IserviceAgencia" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceSite.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceSite"
        contract="siteService.IserviceSite" name="BasicHttpBinding_IserviceSite" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceDescontosAvista.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceDescontosAvista"
        contract="DescontoService.IserviceDescontosAvista" name="BasicHttpBinding_IserviceDescontosAvista" />
      <endpoint address="http://192.168.9.33:8080/wcf/servicePersonalidade.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IservicePersonalidade"
        contract="PersonalidadeService.IservicePersonalidade" name="BasicHttpBinding_IservicePersonalidade" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceFidelidade.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceFidelidade"
        contract="FidelidadeServico.IserviceFidelidade" name="BasicHttpBinding_IserviceFidelidade" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceDecisao.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceDecisao"
        contract="decisaoService.IserviceDecisao" name="BasicHttpBinding_IserviceDecisao" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceRota.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceRota"
        contract="rotaService.IserviceRota" name="BasicHttpBinding_IserviceRota" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceModoEntrega.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceModoEntrega"
        contract="Modo_EntregaService.IserviceModoEntrega" name="BasicHttpBinding_IserviceModoEntrega" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceContato.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceContato"
        contract="contato_Service.IserviceContato" name="BasicHttpBinding_IserviceContato" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceFamiliaProduto.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceFamiliaProduto"
        contract="Familia_ProdutoService.IserviceFamiliaProduto" name="BasicHttpBinding_IserviceFamiliaProduto" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceFillComboBox.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceFillComboBox"
        contract="FillComboBoxService.IserviceFillComboBox" name="BasicHttpBinding_IserviceFillComboBox" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceUf.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceUf"
        contract="ufService.IserviceUf" name="BasicHttpBinding_IserviceUf" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceUnidadeMedida.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceUnidadeMedida"
        contract="unidadeMedidaService.IserviceUnidadeMedida" name="BasicHttpBinding_IserviceUnidadeMedida" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceEmpresa.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceEmpresa"
        contract="empresaService.IserviceEmpresa" name="BasicHttpBinding_IserviceEmpresa" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceCidade.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCidade"
        contract="cidadeService.IserviceCidade" name="BasicHttpBinding_IserviceCidade" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceCargo.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCargo"
        contract="cargoService.IserviceCargo" name="BasicHttpBinding_IserviceCargo" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceDepartamento.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceDepartamento"
        contract="departamentoService.IserviceDepartamento" name="BasicHttpBinding_IserviceDepartamento" />
      <endpoint address="http://192.168.9.33:8080/wcf/servicePesquisaRapida.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IservicePesquisaRapida"
        contract="PesquisaRapidaService.IservicePesquisaRapida" name="BasicHttpBinding_IservicePesquisaRapida" />
      <endpoint address="http://192.168.9.33:8080/wcf/servicePesquisaPadrao.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IservicePesquisaPadrao"
        contract="HlpPesquisaPadraoService.IservicePesquisaPadrao" name="BasicHttpBinding_IservicePesquisaPadrao" />
      <endpoint address="http://192.168.9.33:8080/wcf/camposBaseDadosService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IcamposBaseDadosService"
        contract="camposNotNullService.IcamposBaseDadosService" name="BasicHttpBinding_IcamposBaseDadosService" />
      <endpoint address="http://http://192.168.9.33:8080/wcf/serviceTipo_produto.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceTipo_produto"
        contract="Tipo_ProdutoService.IserviceTipo_produto" name="BasicHttpBinding_IserviceTipo_produto" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceSetor.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceSetor1"
        contract="setrService.IserviceSetor" name="BasicHttpBinding_IserviceSetor1" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceTipoServico.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceTipoServico"
        contract="tipoServicoService.IserviceTipoServico" name="BasicHttpBinding_IserviceTipoServico" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceCondicao_Entrega.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCondicao_Entrega"
        contract="condicaoEntregaService.IserviceCondicao_Entrega" name="BasicHttpBinding_IserviceCondicao_Entrega" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceCondicao_Pagamento.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCondicao_Pagamento"
        contract="Condicao_PagamentoService.IserviceCondicao_Pagamento"
        name="BasicHttpBinding_IserviceCondicao_Pagamento" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceDeposito.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceDeposito"
        contract="depositoService.IserviceDeposito" name="BasicHttpBinding_IserviceDeposito" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceFabricante.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceFabricante"
        contract="fabricanteService.IserviceFabricante" name="BasicHttpBinding_IserviceFabricante" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceMoeda.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceMoeda"
        contract="moedaService.IserviceMoeda" name="BasicHttpBinding_IserviceMoeda" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceRamoAtividade.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceRamoAtividade"
        contract="Ramo_AtividadeService.IserviceRamoAtividade" name="BasicHttpBinding_IserviceRamoAtividade" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceFuncionario.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceFuncionario1"
        contract="funcionarioService.IserviceFuncionario" name="BasicHttpBinding_IserviceFuncionario1" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceAcesso.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceAcesso"
        contract="Acesso_funcionarioService.IserviceAcesso" name="BasicHttpBinding_IserviceAcesso" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceConversao.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceConversao"
        contract="ConversaoService.IserviceConversao" name="BasicHttpBinding_IserviceConversao" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceEmpresaParametros.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceEmpresaParametros"
        contract="Empresa_ParametrosService.IserviceEmpresaParametros"
        name="BasicHttpBinding_IserviceEmpresaParametros" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceCanal_Venda.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCanal_Venda"
        contract="Canal_VendaService.IserviceCanal_Venda" name="BasicHttpBinding_IserviceCanal_Venda" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceJuros.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceJuros"
        contract="jurosService.IserviceJuros" name="BasicHttpBinding_IserviceJuros" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceLista_Preco.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceLista_Preco"
        contract="Lista_PrecoService.IserviceLista_Preco" name="BasicHttpBinding_IserviceLista_Preco" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceProduto.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceProduto"
        contract="produtoService.IserviceProduto" name="BasicHttpBinding_IserviceProduto" />
      <endpoint address="http://192.168.9.33:8080/wcf/serviceEmpresaParametros.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceEmpresaParametros1"
        contract="empresaParametrosService.IserviceEmpresaParametros"
        name="BasicHttpBinding_IserviceEmpresaParametros1" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="dbPrincipal" connectionString="Data Source=HLPSRV;Initial Catalog=PROD_MAGNIFICUS;User Id=sa;Password=H029060tSql;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>