<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Iwcf_Login" />
                <binding name="BasicHttpBinding_Iwcf_CamposBaseDados" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_Login.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_Login"
                contract="wcf_Login.Iwcf_Login" name="BasicHttpBinding_Iwcf_Login" />
            <endpoint address="http://hlpsistemas.no-ip.org:8081/wcf/wcf_CamposBaseDados.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwcf_CamposBaseDados"
                contract="wcf_CamposBaseDados.Iwcf_CamposBaseDados" name="BasicHttpBinding_Iwcf_CamposBaseDados" />
        </client>
    </system.serviceModel>
</configuration>