<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="dbPrincipal" connectionString="Data Source=HLPSRV\SQLSERVER14;Initial Catalog=BD_MAGNIFICUS_ATUAL;User Id=sa;Password=H029060tSql;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IcamposBaseDadosService" />
        <binding name="BasicHttpBinding_IserviceContato" />
        <binding name="BasicHttpBinding_IserviceCidade" />
        <binding name="BasicHttpBinding_IserviceUf" />
        <binding name="BasicHttpBinding_IserviceCanal_Venda" />
        <binding name="BasicHttpBinding_IserviceTipo_documento_Operacao_Valida" />
        <binding name="BasicHttpBinding_IserviceProduto" />
        <binding name="BasicHttpBinding_IserviceFamiliaProduto" />
        <binding name="BasicHttpBinding_IserviceLista_Preco" />
        <binding name="BasicHttpBinding_IserviceCliente" maxReceivedMessageSize="4194304" />
        <binding name="BasicHttpBinding_IserviceFuncionario" />
        <binding name="BasicHttpBinding_IserviceCondicao_Pagamento" />
        <binding name="BasicHttpBinding_IserviceTipo_Operacao" />
        <binding name="BasicHttpBinding_IserviceEmpresa" />
        <binding name="BasicHttpBinding_IserviceClassificacaoFiscal" />
        <binding name="BasicHttpBinding_IserviceCodigoIcms" />
        <binding name="BasicHttpBinding_IserviceLogin" />
        <binding name="BasicHttpBinding_IserviceCarga_trib_media_st_icms" />
        <binding name="BasicHttpBinding_IserviceRamoAtividade" />
        <binding name="BasicHttpBinding_IserviceFillComboBox" />
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.9.33:8081/wcf/camposBaseDadosService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IcamposBaseDadosService"
          contract="camposNotNullService.IcamposBaseDadosService" name="BasicHttpBinding_IcamposBaseDadosService" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceContato.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceContato"
                contract="contato_Service.IserviceContato" name="BasicHttpBinding_IserviceContato" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceCidade.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCidade"
          contract="cidadeService.IserviceCidade" name="BasicHttpBinding_IserviceCidade" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceUf.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceUf"
          contract="ufService.IserviceUf" name="BasicHttpBinding_IserviceUf" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceCanal_Venda.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCanal_Venda"
          contract="Canal_VendaService.IserviceCanal_Venda" name="BasicHttpBinding_IserviceCanal_Venda" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceTipo_documento_Operacao_Valida.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceTipo_documento_Operacao_Valida"
          contract="Tipo_Documento_Oper_ValidaService.IserviceTipo_documento_Operacao_Valida"
          name="BasicHttpBinding_IserviceTipo_documento_Operacao_Valida" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceProduto.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceProduto"
          contract="produtoService.IserviceProduto" name="BasicHttpBinding_IserviceProduto" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceFamiliaProduto.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceFamiliaProduto"
          contract="Familia_ProdutoService.IserviceFamiliaProduto" name="BasicHttpBinding_IserviceFamiliaProduto" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceLista_Preco.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceLista_Preco"
          contract="Lista_PrecoService.IserviceLista_Preco" name="BasicHttpBinding_IserviceLista_Preco" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceCliente.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCliente"
          contract="clienteService.IserviceCliente" name="BasicHttpBinding_IserviceCliente" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceFuncionario.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceFuncionario"
          contract="funcionarioService.IserviceFuncionario" name="BasicHttpBinding_IserviceFuncionario" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceCondicao_Pagamento.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCondicao_Pagamento"
          contract="Condicao_PagamentoService.IserviceCondicao_Pagamento"
          name="BasicHttpBinding_IserviceCondicao_Pagamento" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceTipo_Operacao.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceTipo_Operacao"
          contract="Tipo_OperacaoService.IserviceTipo_Operacao" name="BasicHttpBinding_IserviceTipo_Operacao" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceEmpresa.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceEmpresa"
          contract="empresaService.IserviceEmpresa" name="BasicHttpBinding_IserviceEmpresa" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceClassificacaoFiscal.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceClassificacaoFiscal"
          contract="ClassificacaoFiscalServico.IserviceClassificacaoFiscal"
          name="BasicHttpBinding_IserviceClassificacaoFiscal" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceCodigoIcms.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCodigoIcms"
          contract="CodigoIcmsService.IserviceCodigoIcms" name="BasicHttpBinding_IserviceCodigoIcms" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceLogin.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceLogin"
          contract="loginService.IserviceLogin" name="BasicHttpBinding_IserviceLogin" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceCarga_trib_media_st_icms.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCarga_trib_media_st_icms"
          contract="Carga_trib_media_st_icmsServico.IserviceCarga_trib_media_st_icms"
          name="BasicHttpBinding_IserviceCarga_trib_media_st_icms" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceRamoAtividade.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceRamoAtividade"
          contract="Ramo_AtividadeService.IserviceRamoAtividade" name="BasicHttpBinding_IserviceRamoAtividade" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceFillComboBox.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceFillComboBox"
          contract="FillComboBoxService.IserviceFillComboBox" name="BasicHttpBinding_IserviceFillComboBox" />
      <endpoint address="http://192.168.9.33:8081/wcf/serviceCidade.svc"
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IserviceCidade"
                  contract="CidadeComumService.IserviceCidade" name="BasicHttpBinding_IserviceCidade" />
    </client>
    <services>
      <service name="HLP.Wcf.Entries.wcf_ListaPreco">
        <endpoint address="" behaviorConfiguration="HLP.Wcf.Entries.wcf_ListaPrecoAspNetAjaxBehavior"
          binding="webHttpBinding" contract="HLP.Wcf.Entries.wcf_ListaPreco" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="HLP.Wcf.Entries.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="HLP.Wcf.Entries.propriedadesBaseDadosServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="HLP.Wcf.Entries.serviceLista_PrecoAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="HLP.Wcf.Entries.wcf_ListaPrecoAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
<system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\inetpub\wwwroot\logWcf\services_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>
      <add initializeData="C:\inetpub\wwwroot\logWcf\services_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>
