<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="dbPrincipal" connectionString="Data Source=HLPSRV;Initial Catalog=PROD_MAGNIFICUS;User Id=sa;Password=H029060tSql;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IcamposBaseDadosService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.9.33:8080/wcf/camposBaseDadosService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IcamposBaseDadosService"
          contract="camposNotNullService.IcamposBaseDadosService" name="BasicHttpBinding_IcamposBaseDadosService" />
    </client>
    <services>
      <service name="HLP.Wcf.Entries.Service1">
        <endpoint address="" behaviorConfiguration="HLP.Wcf.Entries.Service1AspNetAjaxBehavior"
          binding="webHttpBinding" contract="HLP.Wcf.Entries.Service1" />
      </service>
      <service name="HLP.Wcf.Entries.propriedadesBaseDadosService">
        <endpoint address="" behaviorConfiguration="HLP.Wcf.Entries.propriedadesBaseDadosServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="HLP.Wcf.Entries.propriedadesBaseDadosService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="HLP.Wcf.Entries.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="HLP.Wcf.Entries.propriedadesBaseDadosServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
